<div class="px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-3xl">Car Management</div>
    <div class="card">
        <p-confirmDialog></p-confirmDialog>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Neu" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openCreateCarDialog()"></button>
            </ng-template>

        </p-toolbar>

        <p-table #dt [value]="cars" [rows]="7" [paginator]="true"
            [globalFilterFields]="['brand', 'model', 'rentPriceDay', 'category', 'year']"
            [tableStyle]="{ 'min-width': '50rem' }" [rowSelectable]="false" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Cars</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="brand" style="min-width:15rem">Brand <p-sortIcon field="brand"></p-sortIcon>
                    </th>
                    <th pSortableColumn="model" style="min-width:15rem">Model <p-sortIcon field="model"></p-sortIcon>
                    </th>
                    <th pSortableColumn="rentPriceDay">Price<p-sortIcon field="rentPriceDay"></p-sortIcon></th>
                    <th pSortableColumn="category" style="min-width:10rem">Category <p-sortIcon
                            field="category"></p-sortIcon></th>
                    <th pSortableColumn="year">year <p-sortIcon field="year"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="car"></p-tableCheckbox>
                    </td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.rentPriceDay }}</td>
                    <td>{{ car.category }}</td>
                    <td>
                        <p-tag [value]="car.year" severity="success"></p-tag>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="openEditCarDialog(car)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteCar(car)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">{{ cars ?
                    cars.length : 0 }} Cars Total.</div>
            </ng-template>
        </p-table>
    </div>
</div>