<div class="col-fixed lg:col-2 mr-4 flex p-0 flex-column w-full">

    <p-accordion [multiple]="true" styleClass="-mb-1 mt-3">
        <p-accordionTab [selected]="false" header="Brand ({{selectedCategories? selectedCategories.length : '0'}})">
            <div class="transition-all transition-duration-400 transition-ease-in-out">
                @for(possibleCategorie of possibleCategories; let idx = $index; track idx){
                <div class="flex w-full justify-content-between">
                    <div class="field-checkbox">
                        <p-checkbox [value]="possibleCategorie[0]" [inputId]="possibleCategorie[0]"
                            [(ngModel)]="selectedCategories" (onChange)="filterCars()"></p-checkbox>
                        <label [for]="possibleCategorie[0]" class="text-900">{{possibleCategorie[0]}}</label>
                    </div>
                    <p-badge [value]="possibleCategorie[1]"
                        styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
                </div>
                }
            </div>
        </p-accordionTab>

        <p-accordionTab [selected]="false" header="Brand ({{selectedBrands ? selectedBrands.length : '0'}})">
            <div class="transition-all transition-duration-400 transition-ease-in-out">
                @for(possibleBrand of possibleBrands; let idx = $index; track idx){
                <div class="flex w-full justify-content-between">
                    <div class="field-checkbox">
                        <p-checkbox [value]="possibleBrand[0]" [inputId]="possibleBrand[0]" [(ngModel)]="selectedBrands"
                            (onChange)="filterCars()"></p-checkbox>
                        <label [for]="possibleBrand[0]" class="text-900">{{possibleBrand[0]}}</label>
                    </div>
                    <p-badge [value]="possibleBrand[1]"
                        styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
                </div>
                }
            </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false" header="Price Range">
            <div class="transition-all transition-duration-400 transition-ease-in-out">
                <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="mt-3 mx-auto" [min]="minPrice"
                    [max]="maxPrice" [style]="{'max-width':'93%'}" (onChange)="filterCars()"></p-slider>
                <div class="flex my-4">
                    <p-inputNumber placeholder="10CHF" [(ngModel)]="rangeValues[0]" (ngModelChange)="filterCars()"
                        inputStyleClass="w-full mr-3"></p-inputNumber>
                    <p-inputNumber placeholder="100CHF" [(ngModel)]="rangeValues[1]" (ngModelChange)="filterCars()"
                        inputStyleClass="w-full"></p-inputNumber>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false" header="Min Seats">
            <div class="transition-all transition-duration-400 transition-ease-in-out">
                <p-slider [(ngModel)]="selectetminSeats" styleClass="mt-3 mx-auto" (onChange)="filterCars()"
                    [min]="minSeats" [max]="maxSeats" [style]="{'max-width':'93%'}"></p-slider>
                <div class="flex my-4">
                    <p-inputNumber placeholder="2" [(ngModel)]="selectetminSeats" (ngModelChange)="filterCars()"
                        inputStyleClass="w-full mr-3"></p-inputNumber>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab [selected]="false" header="Color ({{selectedColors.length}})">
            <div class="transition-all transition-duration-400 transition-ease-in-out">
                <div class="grid mb-3">
                    <div class="col-4 flex flex-column align-items-center">
                        <div class="w-3rem h-3rem border-circle bg-gray-900 cursor-pointer border-none flex justify-content-center align-items-center"
                            (click)="selectedColors.indexOf('Black') == -1 ? selectedColors.push('Black') : selectedColors.splice(selectedColors.indexOf('Black'), 1); filterCars()">
                            <i class="pi pi-check text-2xl text-white"
                                *ngIf="selectedColors.indexOf('Black') !== -1"></i>
                        </div>
                        <p class="text-900 text-sm text-center mt-1">Black</p>
                    </div>
                    <div class="col-4 flex flex-column align-items-center">
                        <div class="w-3rem h-3rem border-circle bg-orange-500 cursor-pointer border-none flex justify-content-center align-items-center"
                            (click)="selectedColors.indexOf('Orange') == -1 ? selectedColors.push('Orange') : selectedColors.splice(selectedColors.indexOf('Orange'), 1); filterCars()">
                            <i class="pi pi-check text-2xl text-white"
                                *ngIf="selectedColors.indexOf('Orange') !== -1"></i>
                        </div>
                        <p class="text-900 text-sm text-center mt-1">Orange</p>
                    </div>
                    <div class="col-4 flex flex-column align-items-center">
                        <div class="w-3rem h-3rem border-circle bg-indigo-500 cursor-pointer border-none flex justify-content-center align-items-center"
                            (click)="selectedColors.indexOf('Blue') == -1 ? selectedColors.push('Blue') : selectedColors.splice(selectedColors.indexOf('Blue'), 1); filterCars()">
                            <i class="pi pi-check text-2xl text-white"
                                *ngIf="selectedColors.indexOf('Blue') !== -1"></i>
                        </div>
                        <p class="text-900 text-sm text-center mt-1">Blue</p>
                    </div>
                    <div class="col-4 flex flex-column align-items-center">
                        <div class="w-3rem h-3rem border-circle bg-green-500 cursor-pointer border-none flex justify-content-center align-items-center"
                            (click)="selectedColors.indexOf('Green') == -1 ? selectedColors.push('Green') : selectedColors.splice(selectedColors.indexOf('Green'), 1); filterCars()">
                            <i class="pi pi-check text-2xl text-white"
                                *ngIf="selectedColors.indexOf('Green') !== -1"></i>
                        </div>
                        <p class="text-900 text-sm text-center mt-1">Green</p>
                    </div>
                    <div class="col-4 flex flex-column align-items-center">
                        <div class="w-3rem h-3rem border-circle bg-gray-500 cursor-pointer border-none flex justify-content-center align-items-center"
                            (click)="selectedColors.indexOf('Grey') == -1 ? selectedColors.push('Grey') : selectedColors.splice(selectedColors.indexOf('Grey'), 1); filterCars()">
                            <i class="pi pi-check text-2xl text-white"
                                *ngIf="selectedColors.indexOf('Grey') !== -1"></i>
                        </div>
                        <p class="text-900 text-sm text-center mt-1">Grey</p>
                    </div>
                    <div class="col-4 flex flex-column align-items-center">
                        <div class="w-3rem h-3rem border-circle bg-red-500 cursor-pointer border-none flex justify-content-center align-items-center"
                            (click)="selectedColors.indexOf('Red') == -1 ? selectedColors.push('Red') : selectedColors.splice(selectedColors.indexOf('Red'), 1); filterCars()">
                            <i class="pi pi-check text-2xl text-white"
                                *ngIf="selectedColors.indexOf('Red') !== -1"></i>
                        </div>
                        <p class="text-900 text-sm text-center mt-1">Red</p>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab [selected]="true" header="Is Automatic">
            <p-inputSwitch (onChange)="filterCars()" [(ngModel)]="isAutomatic"></p-inputSwitch>
        </p-accordionTab>
    </p-accordion>
</div>